HOST=<database_host>
PORT=<database_port>
DATABASE=<database_name>
USER_DB=<database_user>
PASSWORD=<database_password>

MARKET_REDIS_HOST=<redis_host>
MARKET_REDIS_PORT=<redis_port>
MARKET_REDIS_PASSWORD=<redis_password>

PAPERBROKER_KAFKA_BOOTSTRAP_SERVERS=<kafka_bootstrap_servers>
PAPERBROKER_KAFKA_USERNAME=<kafka_username>
PAPERBROKER_KAFKA_PASSWORD=<kafka_password>
PAPERBROKER_ENV_ID=<paperbroker_env_id>

DEFAULT_SUB_ACCOUNT=<default_sub_account>
PAPERBROKER_USERNAME=<paperbroker_username>
PAPERBROKER_PASSWORD=<paperbroker_password>
PAPERBROKER_REST_BASE_URL=<paperbroker_rest_base_url>
PAPERBROKER_SOCKET_HOST=<paperbroker_socket_host>
PAPERBROKER_SOCKET_PORT=<paperbroker_socket_port>
PAPERBROKER_SENDER_COMP_ID=<paperbroker_sender_comp_id>
PAPERBROKER_TARGET_COMP_ID=<paperbroker_target_comp_id>
